@use './variables' as v;

//* unset, es el valor por defecto de $height, significa que si no le pasamos 
//* valor al $height, no le ponga nada, que no le setee nada, es como si dejaramos 
//* esa propiedad tal cual lo tiene por defecto.
@mixin desktop-view($width, $height: unset, $font-size: unset) {
    @media (min-width: 1440px) {
        width: $width;
        height: $height;
        font-size: $font-size;
    }
}

@mixin button($bg-color, $br-color, $fn-color, $width, $height, $center) {
    background-color: $bg-color;
    border: none;
    border: 1px solid $br-color;
    border-radius: 50px;
    display: block;
    color: $fn-color;
    width: $width;
    height: $height;

    @if ($center ==true) {
        margin: 0 auto;
    }
}

@mixin button-hover($bg-color) {

    //* &, significa el elemento actual
    &:hover {
        cursor: pointer;
        background-color: $bg-color;
        color: v.$white;
    }
}

@mixin stats($logo-size) {
    margin-bottom: 98px;

    &__logo {
        width: $logo-size;
    }

    &__stats {
        font-size: 4em;
        margin: 0;
    }

    &__description {
        font-size: 0.8em;
        text-align: center;

        //* @content, significa que podemos agregar código aquí. 
        //* Para ver como se puede agregar dicho código, ir al archivo
        //* styles.scss , sección .section-stats .messages... allí
        //* mencionamos cómo es que agregamos código.
        @content;
    }
}

@mixin flex-sections() {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 180px;

    .image-container {
        &__illustration {
            width: 246px;
            margin-bottom: 78px;
        }
    }

    .description {
        &__title {
            font-family: v.$headings-font;
            font-size: 1.2em;
            text-align: center;
            margin-bottom: 12px;
        }

        &__content {
            text-align: center;
            font-size: 0.9em;
            width: 330px;
        }
    }
}