@use './variables' as v;
@use './mixins' as m;



body {
    font-family: v.$body-font;
    color: v.$very-dark-cyan;
}

.main-container {
    border: 1px solid red;
    width: 375px;
    margin: 0 auto 25px;

    @include m.desktop-view(1440px);
}

.navbar {
    // border: 1px solid green;
    display: flex;
    justify-content: space-between;
    margin: 25px auto 100px;

    @include m.desktop-view(1300px);

    &__logo {
        width: 95px;
        height: 16px;
        @include m.desktop-view(240px, 38px)
    }

    &__button {
        @include m.button(v.$white, v.$light-pink, v.$light-pink, 80px, 24px, false);
        @include m.desktop-view(134px, 42px);
        @include m.button-hover(v.$light-pink);
    }
}

.header {
    &__title {
        font-family: v.$headings-font;
        text-align: center;
        width: 265px;
        font-size: 1.48em;
        margin: 0 auto 36px;
        @include m.desktop-view(1100px, unset, 2.98em);
    }

    &__description {
        text-align: center;
        margin: 0 auto 49px;
        font-weight: 600;
        font-size: 0.8em;
        width: 290px;
        @include m.desktop-view(590px, 80px, 1.25em);
    }

    &__button {
        @include m.button(v.$pink, unset, v.$very-pale-blu, 200px, 40px, true);
        @include m.desktop-view(400px, 80px, 1.25em);
        @include m.button-hover(v.$light-pink);
        margin-bottom: 290px;
    }

    &__screen-mockups {
        width: 300px;
        margin: 0 auto 138px;
        display: block;
        @include m.desktop-view(1020px, 725px);
    }
}

.section-stats {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.section-stats-desktop();

    .comunities {
        @include m.stats(32px);
        @include m.stats-desktop(50px);
    }

    .messages {

        //* Colocando llaves luego del llamado al mixin, le estamos diciendo que,
        //* a parte de traer el mixin definido, colocaremos nuevo contenido y 
        //* dicho contenido se colocará en el mixin justo después de la 
        //* anotación @content, el cual fue declarado en el mixin stats(...)
        @include m.stats(24px) {
            width: 69px;
            margin: auto;
        }

        @include m.stats-desktop(42px);
    }

    @include m.banner('', '../images/bg-section-top-mobile-1.svg');
    @include m.banner-desktop('', '../images/bg-section-top-desktop-1.svg');
}

.section-grow-together {
    background-color: v.$very-pale-blu;
    @include m.flex-sections();
    @include m.flex-sections-desktop(row-reverse);
}

.section-flowing-conversations {
    @include m.flex-sections();
    @include m.flex-sections-desktop();
    @include m.banner('../images/bg-section-bottom-mobile-1.svg', '../images/bg-section-top-mobile-2.svg');
    @include m.banner('../images/bg-section-bottom-desktop-1.svg', '../images/bg-section-top-desktop-2.svg');
}

.section-your-users {
    background-color: v.$very-pale-blu;
    @include m.flex-sections();
    @include m.flex-sections-desktop(row-reverse);
}

.section-your-comunity {
    @include m.banner('../images/bg-section-bottom-mobile-2.svg', '../images/bg-footer-top-mobile.svg');
    @include m.banner-desktop('../images/bg-section-bottom-desktop-2.svg', '../images/bg-footer-top-desktop.svg');
    height: 600px;

    &__title {
        margin-top: 0;
    }

    &__button {}
}